/***********************************
    CSS GLOBALE
************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-navigation .img-home-link {
  margin-right: 50px;
}

.main-navigation img {
  width: 70px;
}

.main-navigation .nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.main-navigation .nav-ul li {
  display: inline-block;
  margin-right: 20px;
}

.main-navigation .nav-ul li:last-child {
  margin-right: 0;
}

.main-navigation .nav-ul li.active {
  border-bottom: 2px solid #0182f9;
}

.main-navigation .nav-ul li.active a {
  color: #0182f9;
}

.main-navigation .nav-ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  color: #434e4b;
}

.noir-background {
  padding: 20px;
  background-color: #1c1c1c;
  text-align: center;
}

.noir-background .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.noir-background .cards .card {
  flex-basis: calc(100% / 6 - 15px);
}

.noir-background .cards .card img {
  width: 100%;
  margin-bottom: 10px;
}

.noir-background .cards .card .card-title {
  color: #fef5f8;
  margin-bottom: 40px;
}

.noir-background .main-btn {
  padding: 5px 40px;
  background-color: #0182f9;
  border: none;
  cursor: pointer;
}

.noir-background .main-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fef5f8;
}

.footer {
  height: 100px;
  background-image: linear-gradient(to bottom, #0182f9 0%, #0182f9 15%, #303030 15%, #303030 100%);
}

.footer .footer-display {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer .sign-btn {
  padding: 10px 10px;
  border: 1px solid #0182f9;
  background: transparent;
}

.footer .sign-btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fef5f8;
  font-weight: 700;
}

.footer .footer-social {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer .footer-social .follow-us {
  text-transform: uppercase;
  color: #0182f9;
  margin-right: 15px;
}

.footer .footer-social .footer-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer .footer-social .footer-ul li {
  margin-right: 15px;
}

.footer .footer-social .footer-ul li img {
  width: 30px;
}

.empty-background {
  flex-grow: 1;
}

.coming {
  color: #fef5f8;
}

